	body {
		margin: 0;
		padding: 0;
		width: 100%;
		background:url("../images/background(re).png") fixed;
		text-shadow: 10px;
	}
	
	header{
		position: relative;
		width: 100%;
		color: #702C8E;
	}	
	
	#title {
		position: absolute;
		top: 8px;
		left: 16px;
		font-size: 26px;
	}
	

	/*	dropdown */

	#dropdown{
		position: absolute;
		width: ;
		top: 8px;
		right: 150px;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdownbtn {
		background-color: #702C8E;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		position: center;
	}

	.dropdown-inside {
		display: none;
		position: absolute;
		background-color: #f7f7f7;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-inside a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-inside a:hover {
		background-color: #f0f0f0;
	}

	.dropdown:hover .dropdown-inside {
		display: block;
	}

	.dropdown:hover .dropdownbtn {
		background-color: rgb(88, 34, 110);
	}

	/* Banner */
		.banner{
			width: 100%;
			height: auto;
			z-index: -1;
		}

	/* car */
		
	.car{
		background-color: white;
		width: 60%;
		display: block;
		border: 0.2rem outset black;
		border-radius: 9px;
		font: bold 1rem sans-serif;
		margin: auto;
		padding: 1rem;
	}
	
	.carElems{
		width: 100%;
	}
	
	.carElems .carElem{
		position: relative;
		display: inline-block;		
	}	
	
	
	.carImg{
		float: left;
	}
	
	.carPrice{
		float: right;
	}
		
		
	/* caroussel */
	#carrousel{
/*		margin-top: ;*/
		position: relative;
		display: block;
		margin: auto;
		width: 50%;
	}
	
	#carrouselTitle{
		font-family: fantasy;	
		color: rgb(0, 8, 117);
	}

	.fling-minislide {
		width:565px; 
		height:265px; 
		overflow:visible;
		position: absolute;
	}

	.fling-minislide img{
		position:absolute;
		animation:fling-minislide 20s infinite; 
		opacity:0;
		width: 100%;
		height: auto;
	}

	@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
	.fling-minislide img:nth-child(1){animation-delay:0s;}
	.fling-minislide img:nth-child(2){animation-delay:5s;}
	.fling-minislide img:nth-child(3){animation-delay:10s;}
	.fling-minislide img:nth-child(4){animation-delay:15s;}